:root {
    background-color: black;
    color: #8C8C8C;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.highlight-on-hover {
    cursor: pointer;
    transition: filter 300ms;
}

.highlight-on-hover:hover {
    filter: brightness(1.4);
}

/* Header */

#header {
    background-color: #0F0F0F;
    border-bottom: solid 1px #1F1F1F;
    width: 100%;
    transition: background-color 500ms;
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
}

#header.reduced {
    background-color: #0f0f0fc0;
}

.header-logo-hosler {
    margin-left: 80px;
    margin-right: 80px;
}

.header-navbar {
    flex: auto;
    font-size: 14px;
    display: flex;
    align-items: end;
}

.header-navbar-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid 1px #00000000;
    transition: filter 300ms, border-bottom 300ms;
}

.header-navbar-item.is-selected {
    font-weight: 500;
    border-bottom: solid 1px #8C8C8C;
}

.language-icon {
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: start;
}

/* Page content */

.page-content {
    margin-top: 120px;
}

h2 {
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 36px;
}

/* Home banner */

.home-banner {
    background-image: url('./assets/images/fond-guitare-piano.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 44vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner-content {
    color: #AAAAAA;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.home-banner-content > div {
    margin: 20px;
    width: fit-content;
}

.home-banner-title {
    font-size: 48px;
    font-weight: 100;
}

.home-banner-subtitle {
    font-size: 18px;
}

.home-banner-button {
    background-color: #000000;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 300ms;
}

.home-banner-button:hover {
    background-color: #782c17;
}

/* Commitments */

.our-commitments {
    margin-top: 30px;
    margin-bottom: 30px;
}

.commitment {
    display: flex;
    align-items: center;
}

.commitment-text {
    margin: 50px;
    height: fit-content;
}

.commitment-title {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}

.commitment-description {
    margin: 10px;
    font-size: 14px;
}

.commitment-image {
    background-image: url('./assets/images/fond-guitare-piano.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Portfolio carousel */

.carousel-wrapper {
    overflow: hidden;
    position: relative;
}

.carousel-button {
    position: absolute;
    display: flex;
    margin: 10px;
    z-index: 100;
}

.carousel-prev {
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
}

.carousel-next {
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
}

.carousel-dots {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.carousel-dots > img {
    width: 7px;
    margin: 5px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.carousel-card {
    width: 100%;
}

/* Portfolio */

.portfolio {
    background-image: url('./assets/images/fond-guitare-piano.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 44vw;
    display: flex;
}

.half-portfolio {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.porfolio-card-title {
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    font-size: 36px;
    font-weight: 100;
    background-color: #612312;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.5);
    z-index: 20;
}

.portfolio-card-description {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 230px;
    padding: 30px;
    transform: translate(25px, -80px);
    background-color: #0f0f0fa0;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.5);
}

/* Audio player */

.audio-player {
    background-color: #0f0f0fa0;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.5);
    width: 25vw;
    height: 25vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.track-list {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    flex: 1 0;
}

.track-list::-webkit-scrollbar {
    width: 3px;
    background-color: #00000000;
}

.track-list::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background-color: #1F1F1F;
}

.audio-track {
    display: flex;
    align-items: center;
    height: 40px;
    letter-spacing: 0.1em;
    font-size: 14px;
    border-radius: 4px;
}

.audio-track.is-selected {
    background-color: #61231240;
}

.track-play-button {
    height: 8px;
    margin: 15px;
    flex: 0 0 auto;
}

.track-name {
    flex: 1 0 auto;
}

.track-duration {
    width: 55px;
    margin: 5px;
    text-align: center;
    flex: 0 0 auto;
    letter-spacing: 0em;
    font-size: 10px;
}

.audio-control {
    width: 100%;
    height: 60px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.audio-progress-bar-container {
    width: 90%;
    height: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: center;
    cursor: pointer;
}

.audio-progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 1px;
    background-color: #8C8C8C;
}

.audio-progress {
    height: 100%;
    border-radius: 1px;
    background-color: #782c17;
    transition: width 200ms;
}

.audio-control-buttons {
    flex: 1 0;
    padding-bottom: 5px;
    display: flex;
}

.audio-control-button {
    margin: auto;
    border-radius: 50%;
    display: flex;
}

.previous-button {
    height: 10px;
    width: 10px;
    padding: 8px;
    margin-right: 12px;
}

.next-button {
    height: 10px;
    width: 10px;
    padding: 8px;
    margin-left: 12px;
}

.previous-next-button-logo {
    margin: auto;
    height: 8px;
}

.play-button {
    height: 15px;
    width: 15px;
    padding: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

.play-button-logo {
    margin: auto;
}

/* About us */

/* Contact */

.contact-form {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    background-color: #1F1F1F;
    margin: 15px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #8C8C8C;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 300;
}

.input:focus-visible {
    outline: none;
    filter: brightness(1.4);
}

.input::selection {
    background-color: #782c17;
}

.input.small {
    width: 300px;
}

.input.large {
    width: 600px;
    height: 200px;
    resize: none;
}

.contact-form-send-button {
    background-color: #000000;
    margin: 15px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #1F1F1F;
    cursor: pointer;
    transition: background-color 300ms, border 300ms;
}
.contact-form-send-button:hover {
    background-color: #782c17;
    border: solid 1px #00000000;
}

/* Footer */

#footer {
    background-color: #0F0F0F;
    border-top: solid 1px #1F1F1F;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
}

.footer-logo-hosler {
    margin-left: 80px;
    margin-right: 80px;
}

.footer-infos{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}