:root {
    /* Colors */
    --transparent: hsl(0, 0%, 0%, 0%);

    --black: hsl(0, 0%, 0%);
    --grey-1: hsl(0, 0%, 12%);
    --grey-2: hsl(0, 0%, 18%);
    --grey-2-bis: hsl(0, 0%, 24%);
    --grey-3: hsl(0, 0%, 100%);
    --white: hsl(0, 0%, 100%);

    --grey-1-transparent-1: hsl(from var(--grey-1) h s l / 63%);
    --grey-1-transparent-2: hsl(from var(--grey-1) h s l / 75%);

    --primary-1: hsl(13, 60%, 25%);
    --primary-2: hsl(from var(--primary-1) h s calc(l + .05));
    --primary-1-transparent: hsl(from var(--primary-1) h s l / 25%);

    --green-1: #020304;
    --green-2: #0c2718;
    --green-3: #547943;
    --green-4: #a0bc83;
    --brown-1: #2b241e;
    --brown-2: #553e2e;
    --brown-3: #856749;
    --brown-4: #baaa8c;

    /* this is the default value of local primary color */
    --local-primary-1: var(--primary-1);

    --cinematic-color-1: hsl(355, 60%, 25%);
    --cinematic-color-2: hsl(355, 60%, 40%, 20%);
    --urban-color-1: hsl(30, 60%, 25%);
    --urban-color-2: hsl(30, 60%, 40%, 20%);
    --pop-rock-color-1: hsl(342, 60%, 25%);
    --pop-rock-color-2: hsl(342, 60%, 40%, 20%);
    --traditional-color-1: hsl(355, 60%, 25%);
    --traditional-color-2: hsl(355, 60%, 40%, 20%);

    --box-shadow-color: hsl(0, 0%, 0%, 55%);

    --progress-bar-bg: var(--grey-3);

    /* Dimensions */
    --header-full-height: 120px;
    --header-reduced-height: 60px;

    --footer-height: 100px;

    /* Fonts */
    --font-size-small: 10px;
    --font-size-regular: 14px;
    --font-size-large: 18px;
    --font-size-title-small: 24px;
    --font-size-title: 36px;
    --font-size-title-large: 48px;

    background-color: var(--grey-2);
    color: var(--grey-3);
    font-family: 'Hind', 'Inter', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 300;
    scroll-behavior: smooth;

}

:root::-webkit-scrollbar {
    width: 3px;
    background-color: var(--grey-1);
}

:root::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background-color: var(--grey-3);
}

body {
    margin: 0px;
}

.highlight-on-hover {
    cursor: pointer;
    transition: filter 300ms;
}

.highlight-on-hover:hover {
    filter: brightness(1.4);
}

.enlarge-on-hover {
    cursor: pointer;
    transition: transform 100ms;
}

.enlarge-on-hover:hover {
    transform: scale(1.1);
}

/* Header */

#header {
    background-color: var(--grey-1);
    border-bottom: solid 1px var(--grey-2-bis);
    width: 100%;
    transition: background-color 500ms;
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
}

#header.reduced {
    background-color: var(--grey-1-transparent-2);
}

.header-logo-hosler {
    margin-left: 80px;
    margin-right: 80px;
}

.header-navbar {
    flex: auto;
    text-transform: uppercase;
    font-family: 'Josefin Sans', 'Inter', sans-serif;
    font-size: var(--font-size-regular);
    display: flex;
    align-items: end;
}

.header-navbar-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid 1px var(--transparent);
    transition: filter 300ms, border-bottom 300ms;
}

.header-navbar-item.is-selected {
    font-weight: 500;
    color: var(--brown-4);
    border-bottom: solid 1px var(--brown-4);
}

.language-icon {
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: start;
    cursor: pointer;
}

/* Page content */

.page-content {
    margin-top: var(--header-full-height);
}

/*.title-container {
    display: flex;
    height: 250px;
    width: 100%;
}*/

h2 {
    margin: auto;
    font-family: 'Hind', 'Inter', sans-serif;
    font-weight: 100;
    font-size: var(--font-size-title);
    text-align: center;
}

/* Home banner */

.home-banner {
    background-image: url('./assets/images/mic-artwork.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - var(--header-full-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner-content {
    color: var(--grey-3);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.home-banner-content > div {
    margin: 20px;
    width: fit-content;
}

.home-banner-title {
    text-transform: uppercase;
    font-family: 'Josefin Sans', 'Inter', sans-serif;
    font-size: var(--font-size-title-large);
    font-weight: 100;
}

.home-banner-subtitle {
    font-size: var(--font-size-large);
}

.home-banner-button {
    background-color: var(--white);
    color: var(--grey-1);
    padding: 10px;
    border-radius: 2px;
    font-size: var(--font-size-regular);
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

.home-banner-button:hover {
    background-color: var(--brown-3);
    color: var(--grey-3);
}

/* Commitments */

.commitment {
    position: relative;
    display: flex;
    background-color: var(--grey-2-bis);
    align-items: center;
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 2px;
}

.commitment-text {
    width: 400px;
    margin: auto;
    height: fit-content;
    text-align: center;
}

/*.align-left {
    left: 0px;
}

.align-right {
    right: 0px;
}*/

.commitment-title {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Josefin Sans', 'Inter', sans-serif;
    font-size: var(--font-size-title-small);
    font-weight: 500;
}

.commitment-description {
    margin: 10px;
    letter-spacing: 0.1em;
    font-size: var(--font-size-regular);
}

/*.commitment-image-background {
    background-color: var(--black);
    width: 100%;
    height: 100%;
}*/

.commitment-image {
    background-image: url('./assets/images/fond-guitare-piano.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 55%;
    height: 100%;
}

/*.image-gradient-left-right {
    mask: url('./assets/css-masks/gradient-left-right.svg');
    mask-size: 100% auto;
}

.image-gradient-right-left {
    mask: url('./assets/css-masks/gradient-right-left.svg');
    mask-size: 100% auto;
}*/

/* Portfolio carousel */

.carousel-wrapper {
    overflow: hidden;
    position: relative;
}

.carousel-button {
    position: absolute;
    display: flex;
    margin: 10px;
    z-index: 100;
}

.carousel-prev {
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
}

.carousel-next {
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
}

.carousel-dots {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.carousel-dots > img {
    width: 7px;
    margin: 5px;
    cursor: pointer;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-card {
    width: 100%;
}

/* Portfolio */

#cinematic {
    --local-primary-1: var(--cinematic-color-1);
    --local-primary-2: var(--cinematic-color-2);
}

#cinematic > .portfolio-background {
    background-image: url('./assets/images/cello-artwork-moins-sat.png');
}

#urban {
    --local-primary-1: var(--urban-color-1);
    --local-primary-2: var(--urban-color-2);
}

#urban > .portfolio-background {
    background-image: url('./assets/images/mic-artwork.png');
}

#pop-rock {
    --local-primary-1: var(--pop-rock-color-1);
    --local-primary-2: var(--pop-rock-color-2);
}

#pop-rock > .portfolio-background {
    background-image: url('./assets/images/guitar-artwork.png');
}

#traditional {
    --local-primary-1: var(--traditional-color-1);
    --local-primary-2: var(--traditional-color-2);
}

#traditional > .portfolio-background {
    background-image: url('./assets/images/cello-artwork.png');
}

.portfolio {
    --local-primary-1-transparent: hsl(from var(--local-primary-1) h s l / 25%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /*height: calc(100vh - var(--header-reduced-height));*/
    height: 600px;
    position: relative;
}

.portfolio-background {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.portfolio-content {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.first-half-portfolio {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.last-half-portfolio {
    --width: 35%;
    width: var(--width);
    margin-left: calc(50% - var(--width));
    background-color: var(--grey-2-bis);
    display: flex;
    flex-direction: column;
}

.portfolio-card-title-description {
    margin: auto;
    padding: 125px;
    /*background-color: var(--grey-1-transparent-1);
    border-radius: 2px;
    box-shadow: 3px 6px 6px 0 var(--box-shadow-color);*/
    text-align: center;
}

.portfolio-title {
    margin: 10px;
    font-family: 'Oswald', 'Inter', sans-serif;
    font-size: var(--font-size-title);
    font-weight: 500;
}

.portfolio-description {
    margin: 10px;
    letter-spacing: 0.1em;
    font-size: var(--font-size-regular);
}

/* Audio player */

.audio-player {
    width: 25vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.track-list {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    flex: 1 0;
}

.track-list::-webkit-scrollbar {
    display: none;
    width: 1px;
    background-color: var(--transparent);
}

.track-list::-webkit-scrollbar-thumb {
    display: none;
	border-radius: 5px;
    background-color: var(--grey-3);
}

.audio-track-container {
    --border-radius: 3px;
    position: relative;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--grey-2);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.audio-track-container:hover {
    background-color: var(--local-primary-1);
}

.audio-track-progress {
    height: 100%;
    background-color: var(--local-primary-2);
    border-radius: var(--border-radius);
}

.audio-track {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    letter-spacing: 0.1em;
    font-size: var(--font-size-regular);
    border-radius: var(--border-radius);
}

.audio-track.is-selected {
}

.track-play-button {
    height: 8px;
    margin: 15px;
    flex: 0 0 auto;
}

.track-name {
    flex: 1 0 auto;
}

.player-time-duration {
    width: 55px;
    margin: 5px;
    text-align: center;
    flex: 0 0 auto;
    letter-spacing: 0em;
    font-size: var(--font-size-small);
}

.audio-control {
    display: none;
    width: 100%;
    height: 60px;
    overflow: hidden;
    flex: 0 0 auto;
    /*display: flex;*/
    flex-direction: column;
}

.audio-progress-bar-container {
    display: none;
    width: 78%;
    height: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: center;
    cursor: pointer;
}

.audio-progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 1px;
    background-color: var(--progress-bar-bg);
}

.audio-progress {
    height: 100%;
    border-radius: 1px;
    background-color: var(--local-primary-2);
    transition: width 200ms;
}

.audio-control-buttons {
    display: none;
    width: 85%;
    align-self: center;
    flex: 1 0;
    padding-bottom: 5px;
    /*display: flex;*/
    align-items: center;
}

.audio-control-button {
    margin: auto;
    border-radius: 50%;
    display: flex;
}

.previous-button {
    height: 10px;
    width: 10px;
    padding: 8px;
    margin-right: 12px;
}

.next-button {
    height: 10px;
    width: 10px;
    padding: 8px;
    margin-left: 12px;
}

.previous-next-button-logo {
    margin: auto;
    height: 8px;
}

.play-button {
    height: 15px;
    width: 15px;
    padding: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

.play-button-logo {
    margin: auto;
}

.audio-control-time-duration {
    padding-bottom: 10px;
}

/* About us */

/* Contact */

.contact-form {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    background-color: var(--grey-2-bis);
    margin: 15px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: var(--grey-3);
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 300;
}

.input:focus-visible {
    outline: none;
    filter: brightness(1.4);
}

.input::selection {
    background-color: var(--primary-2);
}

.input.small {
    width: 300px;
}

.input.large {
    width: 600px;
    height: 200px;
    resize: none;
}

.contact-form-send-button {
    background-color: var(--grey-2);
    margin: 15px;
    padding: 7px;
    width: 80px;
    border-radius: 2px;
    border: solid 1px var(--grey-2-bis);
    font-size: var(--font-size-regular);
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms, border 300ms;
}
.contact-form-send-button:hover {
    background-color: var(--brown-3);
    border: solid 1px var(--transparent);
}

/* Footer */

#footer {
    background-color: var(--grey-1);
    border-top: solid 1px var(--grey-2-bis);
    width: 100%;
    height: var(--footer-height);
    font-size: var(--font-size-small);
    display: flex;
    justify-content: space-evenly;
}

.footer-logo-hosler {
    margin-left: 80px;
    margin-right: 80px;
}

.footer-infos{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}